@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body section,
header {
  padding: 0;
  margin: 0;
}

/* .myClass {
  @include typography("Josefin Sans", 700, 2rem, 1.5, #333);
}

.body-text {
  @include typography("Alata", 400, 1rem, 1.5, #666);
} */
/* QUERY FOR MOBILE FIRST */
html,
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  z-index: 0;
  background-color: hsl(0, 0%, 100%);
}

header {
  width: 100%;
  background-color: bisque;
}

.navTop_container {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../assets/images/mobile/image-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}
.navTop_container__logoMenuHam_wrapper {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: hsla(0, 0%, 0%, 0.6);
}
.navTop_container__logoTop {
  width: 4rem;
}
.navTop_container__menuContainer {
  width: 100%;
  display: flex;
  justify-content: right;
}
.navTop_container a {
  padding: 14px 16px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
.navTop_container a:hover {
  color: hsl(0, 0%, 0%);
  background-color: #ddd;
}
.navTop_container__navMenu {
  width: 90%;
  height: 20rem;
  top: -15rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1.5rem;
  z-index: 3;
  position: absolute;
  transition: transform 0.7s ease;
}
.navTop_container__navMenu--visible {
  transform: translateY(20rem);
}
.navTop_container ul {
  width: 100%;
  height: 20rem;
  color: hsl(0, 0%, 100%);
  list-style: none;
  display: block;
}
.navTop_container li {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 0%, 0.6);
  transition: position 4s ease;
}
.navTop_container__hamburgerClassIcon {
  margin-top: 0.7rem;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  justify-content: center;
  z-index: 11;
  cursor: pointer;
}
.navTop_container .bar1,
.navTop_container .bar2,
.navTop_container .bar3 {
  width: 35px;
  height: 5px;
  background-color: hsl(0, 0%, 100%);
  margin: 6px auto;
  transition: 0.4s;
}
.navTop_container .change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.navTop_container .change .bar2 {
  opacity: 0;
}
.navTop_container .change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
}

main {
  flex: 1 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  z-index: 1;
  position: relative;
}

.webImage {
  width: 100%;
  height: 20rem;
  z-index: 2;
  background-image: url(../assets/images/image-web-3-mobile.jpg);
  background-size: cover;
  background-color: blueviolet;
}

.gridTitleContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.gridTitleContainer__gridTitle h1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  color: hsl(0, 0%, 0%);
}
.gridTitleContainer__seeAll {
  width: 7rem;
  height: 100%;
  align-items: center;
  letter-spacing: 0.2rem;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  cursor: pointer;
  border: 3px solid hsl(0, 0%, 0%);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 0%, 0%);
  transition: transform 0.7s ease;
}
.gridTitleContainer__seeAll:hover, .gridTitleContainer__seeAll:focus {
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  transform: scale(1.1);
  border: 3px solid;
}

.cardsContainer {
  width: 100%;
  margin: 0 auto;
}

.creationsGridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 20px;
}
.creationsGridContainer__card {
  width: 100%;
  height: 10rem;
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: left;
  align-items: flex-end;
  transition: transform 0.7s ease;
  background-color: hsl(0, 0%, 0%);
}
.creationsGridContainer__card:hover {
  transform: scale(1.02);
}
.creationsGridContainer .hide {
  display: none;
}
.creationsGridContainer__cardTitle {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1;
  color: hsl(0, 0%, 100%);
}
.creationsGridContainer__deepEarth {
  background-image: url(../assets/images/mobile/image-deep-earth.jpg);
  background-size: cover;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.creationsGridContainer__deepEarth:hover {
  opacity: 1;
  transform: scale(1.02);
}
.creationsGridContainer__nightArcade {
  background-image: url(../assets/images/mobile/image-night-arcade.jpg);
  background-size: cover;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.creationsGridContainer__nightArcade:hover {
  opacity: 1;
  transform: scale(1.02);
}
.creationsGridContainer__soccerTeam {
  background-image: url(../assets/images/mobile/image-soccer-team.jpg);
  background-size: cover;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.creationsGridContainer__soccerTeam:hover {
  opacity: 1;
  transform: scale(1.02);
}
.creationsGridContainer__fromAbove {
  background-image: url(../assets/images/mobile/image-from-above.jpg);
  background-size: cover;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.creationsGridContainer__fromAbove:hover {
  opacity: 1;
  transform: scale(1.02);
}
.creationsGridContainer__pocket {
  background-image: url(../assets/images/mobile/image-pocket-borealis.jpg);
  background-size: cover;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.creationsGridContainer__pocket:hover {
  opacity: 1;
  transform: scale(1.02);
}
.creationsGridContainer__curiosity {
  background-image: url(../assets/images/mobile/image-curiosity.jpg);
  background-size: cover;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.creationsGridContainer__curiosity:hover {
  opacity: 1;
  transform: scale(1.02);
}
.creationsGridContainer__makeIt {
  background-image: url(../assets/images/mobile/image-fisheye.jpg);
  background-size: cover;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.creationsGridContainer__makeIt:hover {
  opacity: 1;
  transform: scale(1.02);
}
.creationsGridContainer__grid {
  background-image: url(../assets/images/mobile/image-grid.jpg);
  background-size: cover;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.creationsGridContainer__grid:hover {
  opacity: 1;
  transform: scale(1.02);
}

.navBottom_container {
  width: 100%;
  height: 24rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
  background-color: hsl(0, 0%, 0%);
}
.navBottom_container__logoPlusBottomNav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: center;
}
.navBottom_container__logoBottom {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
.navBottom_container__navMenuBottom {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
}
.navBottom_container ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2;
  color: hsl(0, 0%, 100%);
}
.navBottom_container__socialMediaIcons_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 1rem;
  color: white;
}
.navBottom_container__socialMediaIcons {
  width: 15rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1.7rem;
  margin-bottom: 1.5rem;
  right: 0;
}
.navBottom_container__link {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  transition: transform 0.5s ease;
}
.navBottom_container__link:hover {
  border-color: #ccc;
  transform: scale(1.2);
}
.navBottom_container__link i {
  font-size: 1.3rem;
}
.navBottom_container__rights {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
}

.attribution {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  top: 12rem;
  padding: 0.5rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
  color: hsl(0, 0%, 50%);
}

.attribution a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

@media (min-width: 768px) {
  .navTop_container__navMenu {
    width: 30rem;
    top: 0.5rem;
    position: relative;
    margin-right: 2rem;
  }
  .navTop_container ul {
    display: flex;
    justify-content: space-between;
  }
  .navTop_container li {
    border: none;
    background-color: transparent;
  }
  .navTop_container__hamburgerClassIcon {
    display: none;
  }
  .navTop_container__slogan {
    width: 30rem;
    height: 20rem;
    margin: 6rem auto;
    font-family: "Inter", sans-serif;
    font-weight: 350;
    font-size: 2.5rem;
    line-height: 1.5;
    color: hsl(0, 0%, 100%);
  }
  .navTop_container__slogan:hover {
    width: 35rem;
  }
  .cardsContainer {
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .creationsGridContainer {
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
  }
  .creationsGridContainer.expanded {
    grid-template-columns: repeat(4, 1fr);
  }
  .creationsGridContainer.collapsed {
    grid-template-columns: repeat(4, 1fr);
  }
  .creationsGridContainer__cardTitle {
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1;
    color: hsl(0, 0%, 100%);
    background-color: hsla(0, 0%, 0%, 0.6);
    padding: 1rem;
  }
  .creationsGridContainer__card {
    width: 100%;
    min-height: 15rem;
    max-height: 30rem;
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: flex-end;
    transition: transform 0.7s ease;
    background-color: hsl(0, 0%, 0%);
  }
  .creationsGridContainer__card:hover {
    transform: scale(1.02);
  }
  .creationsGridContainer__deepEarth {
    background-image: url(../assets/images/desktop/image-deep-earth.jpg);
    background-size: cover;
    background-size: 100%;
  }
  .creationsGridContainer__nightArcade {
    background-image: url(../assets/images/desktop/image-night-arcade.jpg);
    background-size: cover;
    background-size: 100%;
  }
  .creationsGridContainer__soccerTeam {
    background-image: url(../assets/images/desktop/image-soccer-team.jpg);
    background-size: cover;
    background-size: 100%;
  }
  .creationsGridContainer__fromAbove {
    background-image: url(../assets/images/desktop/image-from-above.jpg);
    background-size: cover;
    background-size: 80%;
  }
  .creationsGridContainer__pocket {
    background-image: url(../assets/images/desktop/image-pocket-borealis.jpg);
    background-size: cover;
    background-size: 100%;
  }
  .creationsGridContainer__curiosity {
    background-image: url(../assets/images/desktop/image-curiosity.jpg);
    background-size: cover;
    background-size: 100%;
  }
  .creationsGridContainer__makeIt {
    background-image: url(../assets/images/desktop/image-fisheye.jpg);
    background-size: cover;
    background-size: 100%;
  }
  .creationsGridContainer__grid {
    background-image: url(../assets/images/desktop/image-grid.jpg);
    background-size: cover;
    background-size: 100%;
  }
  .navBottom_container {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 2rem;
    background-color: hsl(0, 0%, 0%);
  }
  .navBottom_container__logoPlusBottomNav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
  }
  .navBottom_container__logoBottom {
    width: 100%;
    text-align: left;
  }
  .navBottom_container__navMenuBottom {
    width: 25rem;
    height: 2.5rem;
    display: flex;
  }
  .navBottom_container ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2;
    color: hsl(0, 0%, 100%);
  }
  .navBottom_container__socialMediaIcons_container {
    width: 15rem;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    color: white;
  }
  .navBottom_container__socialMediaIcons {
    display: flex;
    justify-content: space-between;
    margin-top: 0rem;
  }
  .navBottom_container__link {
    width: 30px;
    height: 30px;
  }
  .navBottom_container__link:hover {
    border-color: #ccc;
    transform: scale(1.2);
  }
  .navBottom_container__link i {
    font-size: 1.3rem;
  }
  .navBottom_container__rights {
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 1.5;
    color: hsl(0, 0%, 100%);
  }
}

/*# sourceMappingURL=styles.css.map */
